:root {
    --primary-color: #FFFFFF;
    --btn-color: #02897A;
    --bg-color: #22343D;
    --btn-b-radius: 4px;
    --block-b-radius: 8px;
    --font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--primary-color);
    color: black;
}

a,
a:hover {
    color: var(--primary-color);
}

.button {
    color: var(--primary-color);
    background-color: var(--btn-color);
}

.button-video:hover,
.button-video:hover,
.button-order:hover {
    color: var(--primary-color);
}

.navbar-logo,
.footer-logo {
    color: var(--primary-color);
}

.button-in {
    background-color: inherit;
    border: 1px solid #BCD0E5;
}

.button-in:hover {
    background-color: #BCD0E5;
    color: var(--btn-color);
}

.button-up:hover,
.button-start:hover,
.button-up-now:hover,
.button-up-now-footer:hover,
.button-contact:hover {
    background-color: var(--primary-color);
    color: var(--btn-color);
}

.button-video {
    color: var(--btn-color);
}

.card-body {
    background-color: var(--primary-color);
}

.card-title {
    color: black;
}

.card-subtitle {
    color: black;
}

.price-box {
    background-color: var(--primary-color);
    color: black;
}

.price-value {
    color: var(--btn-color);
}

.currency {
    color: var(--btn-color);
}

.time-laps {
    color: #AFAFAF;
}

.subscribe-block {
    background-color: var(--btn-color);
}

.button-get {
    background-color: var(--primary-color);
    color: var(--btn-color);
}

.button-get:hover {
    color: var(--btn-color);
}
