:root {
    --primary-color: #FFFFFF;
    --btn-color: #02897A;
    --bg-color: #22343D;
    --font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.container {
    max-width: 1135px;
    padding: 0 15px;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.button {
    color: var(--primary-color);
    background-color: var(--btn-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}

/* HEADER */

.header {
    padding: 19px 0;
    margin: 0 0 54px 0;
}

.nav-link:hover {
    color: var(--primary-color);
}

.brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-logo {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.button-in {
    background-color: inherit;
    border: 1px solid #BCD0E5;
    padding: 10px 25px;
}

.button-up {
    padding: 10px 25px;
}

.button-in:hover {
    background-color: #BCD0E5;
    color: var(--btn-color);
}

.button-up:hover {
    background-color: var(--primary-color);
    color: var(--btn-color);
}

.button-burger {
    outline: none;
}

/* MAIN */

.main {
    margin: 0 0 150px 0;
}

/* SECTION ABOUT */

.section-about {
    margin: 0 0 8.75rem;
}

.about-main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.about-subtitle {
    margin: 0 0 60px 0;
}

.button-start {
    margin: 0 30px 0 0;
    padding: 15px 40px;
    font-weight: 700;
}

.button-start:hover {
    background-color: var(--primary-color);
    color: var(--btn-color);
}

.button-video {
    padding-left: 25px;
    text-decoration: underline;
    color: var(--btn-color);
    background: url(../img/icons/triangle.svg) no-repeat left;
}

.button-video:hover {
    color: var(--primary-color);
}

/* SECTION PRODUCT */

.section-product {
    padding: 0 0 75px 0;
    margin: 0 0 100px 0;
}

.product-title {
    margin: 0 0 65px 0;
}

.product-img {
    margin: 0 0 30px 0;
}

.features-title {
    margin: 0 0 13px 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.button-up-now {
    padding: 15px 33px;
    font-weight: 700;
    transition: 0.6s;
}

.button-up-now:hover {
    color: var(--btn-color);
    background-color: var(--primary-color);
}

/* p.2 */

.section-product-2 {
    margin: 0 0 150px 0;
}

.aux {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.management-block,
.customer-block {
    margin: 0 0 150px 0;
}

.description-title,
.description-subtitle {
    margin: 0 0 32px 0;
}

.support-item {
    font-weight: 400;
    line-height: 26px;
    padding: 0 0 0 50px;
    margin: 0 0 30px 0;
}

.orange-item {
    background: url(../img/icons/orange-mark.svg) no-repeat left;
}

.red-item {
    background: url(../img/icons/red-mark.svg) no-repeat left;
}

.blue-item {
    background: url(../img/icons/blue-mark.svg) no-repeat left;
}

/* SECTION CUSTOMERS */

.section-customers {
    margin: 0 0 150px 0;
}

.customer-subtitle {
    margin: 0 0 32px 0;
}

.button-contact {
    padding: 16px 30px;
}

.button-contact:hover {
    background-color: var(--primary-color);
    color: var(--btn-color);
}

/* SECTION CONTENT */

.section-content {
    margin: 0 0 110px 0;
}

.content-subtitle {
    margin: 0 0 32px 0;
}

.card-title {
    color: black;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}

.card-subtitle {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

/* SECTION PRICE */

.section-price {
    margin: 0 0 150px 0;
}

.price-subtitle {
    margin: 0 0 32px 0;
}

/* SECTION CLIENT */

.section-client {
    margin: 0 0 150px 0;
}

/* SECTION SUB */

.sub-block {
    width: 970px;
    height: 345px;
    background-color: var(--btn-color);
    border-radius: 2rem;
}

.sub-cont {
    padding: 50px;
}