:root {
    --primary-color: #FFFFFF;
    --btn-color: #02897A;
    --bg-color: #22343D;
    --font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

.container {
    max-width: 1135px;
    padding: 0 15px;
}

.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.subtitle {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

/* HEADER */

.header {
    margin: 0 0 54px 0;
}

.nav-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.brand-link {
    display: flex;
    align-items: center;
}

.navbar-logo {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
}

.button {
    color: var(--primary-color);
    background-color: inherit;
    border: none;
    outline: none;
    transition: 0.5s;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.button-in {
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 10px 25px;
}

.button-up {
    background-color: var(--btn-color);
    border-radius: 4px;
    padding: 10px 25px;
}

.button-in:hover {
    background-color: #BCD0E5;
    color: var(--btn-color);
}

.button-up:hover {
    background-color: var(--primary-color);
    color: var(--btn-color);
}